    <!-- main header -->
    <header class="main-header header-three text-white">

        <div class="header-top-wrap bg-blue py-10">
            <div class="container">
                <div class="header-top">
                    <div class="top-left">
                        <ul>
                            <li>Call Us: <a href="callto:0759120300">0759 120 300</a></li>
                            <li>Email us: <a href="mailto:info@jovi-tec.com">info@jovi-tec.com</a></li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <div class="office-time">
                            <i class="far fa-clock"></i><span>08:00 am - 06:00 pm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="container clearfix">
    
                <div class="header-inner d-flex align-items-center">
                    <div class="logo-outer ">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logos/logo.png" alt="Logo" title="Logo"></a>
                        </div>
                    </div>
  
                    <div class="nav-outer clearfix d-flex align-items-center">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <div class="mobile-logo py-15 ">
                                    <a href="index.html">
                                        <img src="assets/images/logos/logo.png" alt="Logo" title="Logo">
                                    </a>
                                </div>
  
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
  
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="dropdown"><a href="#">About Us</a>
                                        <ul class="navbar-text">
                                            <li><a href="about.html">Why Jovitec</a></li>
                                            <li><a href="team-profile.html">Our team</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown for-mega"><a href="#">What We Do</a>
                                        <div class="megamenu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6">
                                                        <h5 class="mega-title navbar-brand">Graphical Designing</h5>
                                                        <ul class="navbar-text ">
                                                            <li><a href="#">Logo Designing</a></li>
                                                            <li><a href="#">Web Designing</a></li>
                                                            <li><a href="#">Product Designing</a></li>
                                                            <li><a href="#">Company Branding</a></li>
                                                        </ul>
                                                    </div> 
                                                    <div class="col-lg-3 col-md-6">
                                                        <h5 class="mega-title navbar-brand">Development</h5>
                                                        <ul class="navbar-text ">
                                                            <li><a href="#">Mobile App Development</a></li>
                                                            <li><a href="#">Website Development</a></li>
                                                            <li><a href="#">Software Development</a></li>
                                                            <li><a href="#">API integration</a></li>
                                                        </ul>
                                                    </div> 
                                                    <div class="col-lg-3 col-md-6">
                                                        <h5 class="mega-title navbar-brand">E-commerce</h5>
                                                        <ul class="navbar-text ">
                                                            <li><a href="#">Web hosting</a></li>
                                                            <li><a href="#">Domain registration</a></li>
                                                            <li><a href="#">Bulk SMS</a></li>
                                                            <li><a href="#">E-mail and Online marketing</a></li>
                                                            <li><a href="#">IT Hardware supply</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6">
                                                        <h5 class="mega-title navbar-brand">IT Consultancy</h5>
                                                        <ul  class="navbar-text ">
                                                            <li><a href="#">Troubleshooting and maintainance</a></li>
                                                            <li><a href="#">Software installations and maintainance</a></li>
                                                            <li><a href="#">Client Enquiries</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown for-mega"><a href="#">Products/Innovation</a>
                                        <div class="megamenu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6">
                                                        <h5 class="mega-title navbar-brand">Mobile Apps</h5>
                                                        <ul class="navbar-text ">
                                                            <li><a href="#">Students' Portal</a></li>
                                                            <li><a href="#">Matatu Sacco Portal</a></li>
                                                            <li><a href="#">Bursary App</a></li>
                                                            <li><a href="#">E-mail and Online marketing</a></li>
                                                            <li><a href="#">Church Members Portal</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <h5 class="mega-title navbar-brand">Web Based Systems</h5>
                                                        <ul class="navbar-text ">
                                                            <li><a href="#">SMS & Email Management System</a></li>
                                                            <li><a href="#">Wedding & Gifts Management System</a></li>
                                                            <li><a href="#">General School Management System</a></li>
                                                            <li><a href="#">Driving School Management System</a></li>
                                                            <li><a href="#">Bursary Management System</a></li>
                                                            <li><a href="#">Church Management System</a></li>
                                                            <li><a href="#">Multi-Vendor E-commerce System</a></li>
                                                            <li><a href="#">Events Management System</a></li>
                                                            <li><a href="#">Real Estate Management System</a></li></ul>
                                                    </div> 
                                                    <div class="col-lg-4 col-md-6">
                                                        <h5 class="mega-title navbar-brand">Websites</h5>
                                                        <ul  class="navbar-text ">
                                                            <li><a href="#">HTML5/CSS3 Templates</a></li>
                                                            <li><a href="#">WordPress Websites</a></li>
                                                            <li><a href="#">Full-Customisable CMS</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
  
                        </nav>
                        <!-- Main Menu End-->
  
                        <!-- Menu Button -->
                        <div class="menu-btn">
                            <a href="contact.html" class="theme-btn">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Header Upper-->