<!-- Hero Section Start -->
<section
  class="hero-section-two bgs-cover overlay pt-40 rpt-80"
  style="background-image: url(app/assets/images/hero/hero-three.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-11">
        <div class="hero-content text-white py-220 rpy-120">
          <span class="sub-title d-block wow fadeInUp delay-0-2s"
            >We are empowered for you...</span
          >
          <h1 class="wow fadeInUp delay-0-4s mt-20">
            JOVITEC TECHNOLOGIES LTD RE-BRANDED
          </h1>
          <div class="hero-btns mt-35 wow fadeInUp delay-0-6s">
            <a href="contact.html" class="theme-btn mr-25">Get a Quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Work Progress Start -->
<section class="work-progress-three bg-blue text-white pt-20 pb-85 rpb-65" style="background-image: url(assets/images/background/progress.png);">
    <div class="container">
        <div class="work-progress-inner-three pt-10 ">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="progress-item-two style-two wow fadeInUp delay-0-2s">
                        <span class="progress-step">01</span>
                        <div class="icon">
                            <i class="flaticon flaticon-speech-bubble"></i>
                        </div>
                        <h3>Advertising and <br>Marketing</h3>
                        <p>As the world is now a global village, we are able to put you up to speed with the best marketing strategies that suit your business and amplifies your products and services to a larger demographic of your targeted audience. </p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="progress-item-two style-two wow fadeInUp delay-0-4s">
                        <span class="progress-step">02</span>
                        <div class="icon">
                            <i class="flaticon flaticon-vector"></i>
                        </div>
                        <h3>Software <br>Development</h3>
                        <p>With advancement in technology, we provide top of the shelf services when it comes to creating a home for you on the internet.</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="progress-item-two style-two wow fadeInUp delay-0-6s no-border mb-0">
                        <span class="progress-step">03</span>
                        <div class="icon">
                            <i class="flaticon flaticon-like-1"></i>
                        </div>
                        <h3>IT <br>Hardware Supply </h3>
                        <p>We have the best quality of laptops, projectors, printers among other accessories</p>
                        <a href="shop.html" class="learn-more">Check us out <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work Progress End -->
